form .form-select{
    /* padding: 1.0rem 2.7rem 1.0rem 0.9rem; */
}
form .form-control{
    /* padding: 1.0rem 0.9rem; */
}
form .form-select,form .form-control,form label{
    font-size: 1rem;
}

/* .form-check-input:checked{
    background: #3E97FF;
    border-color: #3E97FF;
} */
 .form-check-label{
    padding-left: 8px;
 }
 .alert-dismissible .btn-close{
    top: 50%;
    transform: translateY(-50%);
 }